<h3>メッセージ一覧</h3>
<% @another_entries.each do |another_entry| %>
  <table class="table table-striped">
    <tr data-link="<%= room_path(another_entry.room.id) %>" style="cursor: pointer;">
      <td>
        <%= attachment_image_tag another_entry.customer, :image, class: "img-circle pull-left profile-thumb", format: 'jpeg', fallback: "no-image.png", size: "30x30" %>
        <%= another_entry.customer.username %>
      </td>
      <td>
        <% if another_entry.room.direct_messages.present? %>
          <!--最新メッセージ内容の最初の7文字を表示する-->
          <% direct_message = DirectMessage.find_by(id: another_entry.room.direct_message_ids.last) %>
          <!--truncateは、文字列を切り捨てて省略表示する！-->
          <!--lastのDMが削除されていなかったら、truncateを実行する！→そのためにfind_byメソッドを使用-->
          <% if direct_message.present? %>
            <%= truncate(direct_message.content, length: 10) %>
          <% end %>
        <% end %>
      </td>
      <td>
        <h6 style="color: #C0C0C0;">
          <%= another_entry.updated_at.strftime("%Y/%m/%d %H:%M") %>
        </h6>
      </td>
      <td>
        <%= link_to room_path(another_entry.room.id), method: :delete, class: "inlink" do %>
          <i class="fas fa-trash" style="color: black;"></i>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>

<script>
  $(function () {
    $("tr[data-link]").click(function() {
      window.location = $(this).data("link")
    })
  })
</script>