<div class="room_show">
  <% @entries.each do |entry| %>
    <!--eachで回したentryユーザーがログインユーザーであれば、@current_customer_or_otherに"current_customer"の文字列を代入する-->
    <!-- eachで回したentryユーザーがログインユーザーでなければ、entryユーザー名を表示する -->
    <% if current_customer == entry.customer %>
      <% @current_customer_or_other = "current_customer" %>
    <% else %>
      <% @current_customer_or_other = "" %>
    <% end %>
    <% if entry.customer != current_customer %>
      <h5 class="text-left <%= @current_customer_or_other %>" id="<%= @current_customer_or_other %>" style="font-size: 30px;" data-id="<%= entry.customer.id %>">
        <%= link_to "@#{entry.customer.username}", mypage_path(entry.customer_id) %>
      </h5>
    <% else %>
      <h5 class="text-left <%= @current_customer_or_other %>" id="<%= @current_customer_or_other %>" data-id="<%= entry.customer.id %>"></h5>
    <% end %>
  <% end %>

  <div id="direct_messages" class="direct_messages" data-room_id="<%= @room.id %>" data-total-pages="<%= @direct_messages.total_pages %>">
    <!--@direct_messagesの並びを降順にするために、to_aでArray型に変更して、reverseで並び替えしている-->
    <% @direct_messages.to_a.reverse.each do |direct_message| %>
      <%= render partial: 'customers/direct_messages/direct_message', locals: { direct_message: direct_message, user: current_customer } %>
    <% end %>
  </div>
  <%= paginate @direct_messages, params: {:user => current_customer } %>

  <%= form_with do |f| %>
    <%= f.text_field :content, class: "form-control" %>
    <div id="target" data-behavior="room_speaker" data-room-id="<%= @room.id %>" class="btn btn-primary">DM</div>
  <% end %>
</div>