<div class="room_show">
  <% @entries.each do |entry| %>
    <!--eachで回したentryユーザーがログインユーザーであれば、@current_customer_or_otherに"current_customer"の文字列を代入する-->
    <!-- eachで回したentryユーザーがログインユーザーでなければ、entryユーザー名を表示する -->
    <% if current_customer == entry.customer %>
      <% @current_customer_or_other = "current_customer" %>
    <% else %>
      <% @current_customer_or_other = "" %>
    <% end %>
    <% if entry.customer != current_customer %>
      <h5 class="text-left <%= @current_customer_or_other %>" id="<%= @current_customer_or_other %>" style="font-size: 30px;" data-id="<%= entry.customer.id %>">
        <%= link_to "@#{entry.customer.username}", mypage_path(entry.customer_id) %>
      </h5>
    <% else %>
      <h5 class="text-left <%= @current_customer_or_other %>" id="<%= @current_customer_or_other %>" data-id="<%= entry.customer.id %>"></h5>
    <% end %>
  <% end %>

  <div id="direct_messages" data-room_id="<%= @room.id %>">
    <%= render @direct_messages %>
  </div>

  <%= form_with do |f| %>
    <%= f.text_field :content, class: "form-control" %>
    <div id="target" data-behavior="room_speaker" data-room-id="<%= @room.id %>" class="btn btn-primary">DM</div>
  <% end %>
</div>

<script>
// $(function() {
  // $('body').delay(100).animate({
  //     scrollTop: $(document).height()
  //   },1500);
  // var obj = document.getElementById('target');
  // obj.scrollTop = obj.scrollHeight;
  // $('#target').animate({ scrollTop: $('#target')[0].scrollHeight});
// });
  //トークルーム遷移時に入力フォーム記載場所にスクロールする(最新トークは下にあるため)
  // 移動させたい位置の要素を取得
  // getElementById() メソッド：任意のHTMLタグで指定したIDにマッチするドキュメント要素を取得するメソッド
  var element = document.getElementById('target');
  // getBoundingClientRectメソッド：ターゲット要素の位置を、ブラウザの表示領域の左上を(0, 0)として、そこからの相対位置で示す
  var rect = element.getBoundingClientRect();
  var position = rect.top;
  // setTimeout：繰り返さずに一度だけ、一定時間後に特定の処理を行う
  setTimeout( function() {
    // scrollToメソッド：絶対位置を指定してスクロールをさせる
    // 第一引数にx座標、第二引数にy座標のスクロール量を指定
    scrollTo(0, position);}
    , 1000);
</script>