<div class="col-xs-1"></div>
<div class="col-xs-8">
<h2>新規登録</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>
  <table class="table">
    <tr>
      <th><%= f.label :username, "ユーザーネーム" %></th>
      <td>
        <div class="icon-position">
          <%= f.text_field :username, class:"form-control", id:"inputEmail", required: true, autofocus: true, autocomplete: "username", placeholder:"Username" %>
          <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
        </div>
      </td>
    </tr>
    <tr>
      <th><%= f.label :email, "メールアドレス" %></th>
      <td>
        <div class="icon-position">
          <%= f.email_field :email, class:"form-control", id:"inputEmail", required: true, autocomplete: "email", placeholder:"Email" %>
          <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
        </div>
      </td>
    </tr>
    <tr>
      <th>氏名</th>
      <td><%= f.text_field :last_name, class:"form-control", required: true, :placeholder =>"Last Name" %></td>
      <td><%= f.text_field :first_name, class:"form-control", required: true, :placeholder =>"First Name" %></td>
    </tr>
    <tr>
      <th><%= f.label :password, "パスワード(6文字以上の英数字)" %></th>
      <td>
        <div class="icon-position">
          <%= f.password_field :password, class:"form-control", id:"inputEmail", required: true, autocomplete: "new-password", placeholder:"Password" %>
          <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
        </div>
      </td>
    </tr>
    <tr>
      <th><%= f.label :password_confirmation, "パスワード(確認用)" %></th>
      <td>
        <div class="icon-position">
          <%= f.password_field :password_confirmation, class:"form-control", id:"inputEmail", required: true, autocomplete: "new-password", placeholder:"Password(Confirmation)" %>
          <span class="fa fa-check-circle-o form-control-icon" aria-hidden="true"></span>
        </div>
      </td>
    </tr>
  </table>
  <div class="field">
    <%= f.label :is_teacher, "Please check here if you're not Japanese" %>
    <%= f.check_box :is_teacher, {class: "check_box"}, true, false %>
  </div>
  <div class="actions">
    <%= f.submit "新規登録", class:"btn btn-lg btn-block btn-base-1 mt-20 btn-primary" %>
  </div>
<% end %>
<%= link_to 'すでに会員の方はこちら', new_customer_session_path %>
</div>
<div class="col-xs-1"></div>