<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>
  <table class="table">
    <tr>
      <th><%= f.label :username, "ユーザーネーム" %></th>
      <td>
        <div class="icon-position">
          <%= f.text_field :username, class:"form-control", id:"inputEmail", required: true, autofocus: true, autocomplete: "username" %>
          <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
        </div>
      </td>
    </tr>
    <tr>
      <th><%= f.label :email, "メールアドレス" %></th>
      <td>
        <div class="icon-position">
          <%= f.email_field :email, class:"form-control", id:"inputEmail", required: true, autocomplete: "email" %>
          <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
        </div>
      </td>
    </tr>
    <tr>
      <th>氏名</th>
      <td><%= f.text_field :first_name, class:"form-control", required: true, :placeholder =>"姓" %></td>
      <td><%= f.text_field :last_name, class:"form-control", required: true, :placeholder =>"名" %></td>
    </tr>
    <tr>
      <th>カナ氏名</th>
      <td><%= f.text_field :first_name_kana, class:"form-control", required: true, :placeholder =>"姓(カナ)" %></td>
      <td><%= f.text_field :last_name_kana, class:"form-control", required: true, :placeholder =>"名(カナ)" %></td>
    </tr>
    <tr>
      <th><%= f.label :telephone_number, "電話番号(ハイフンなし10or11桁)" %></th>
      <td>
        <div class="icon-position">
          <%= f.text_field :telephone_number, required: true, class:"form-control" %>
          <span class="fa fa-phone-alt form-control-icon" aria-hidden="true"></span>
        </div>
      </td>
    </tr>
    <tr>
      <th><%= f.label :password, "パスワード(6文字以上の英数字)" %></th>
      <td>
        <div class="icon-position">
          <%= f.password_field :password, class:"form-control", required: true, autocomplete: "new-password" %>
          <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
        </div>
      </td>
    </tr>
    <tr>
      <th><%= f.label :password_confirmation, "パスワード(確認用)" %></th>
      <td>
        <div class="icon-position">
          <%= f.password_field :password_confirmation, class:"form-control", required: true, autocomplete: "new-password" %>
          <span class="fa fa-check-circle-o form-control-icon" aria-hidden="true"></span>
        </div>
      </td>
    </tr>
  </table>
  <div class="field">
    <%= f.label :is_teacher, "Please check here if you're not Japanese" %>
    <%= f.check_box :is_teacher, {class: "check_box"}, true, false %>
  </div>
  <div class="actions">
    <%= f.submit "新規登録", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
  </div>
<% end %>
<%= link_to 'すでに会員の方はこちら', new_customer_session_path %>
