<div id="review-<%= review.id %>">
  <div class="review_box_left">
    <%= attachment_image_tag review.customer, :image, format: "jpeg", size:'60x60', fallback: "no-image.png" %>
      <p class="review_box_right">
        FROM　<%= review.customer.username %>
        <span id="star-rate<%= review.id %>" data-score="<%= review.rate %>">
          <%= review.rate %>
        </span><br>
        <%= review.body %><br>
        <%= review.created_at.strftime('%Y/%m/%d') %>
      </p>
  </div>
  <% if review.customer == current_customer %>
    <div>
      <%= link_to "削除", post_review_path(review.post, review), method: :delete, remote: true, class: "btn btn-danger" %>
      <%= link_to "編集", edit_post_review_path(review.post, review), class: "btn btn-success" %>
    </div>
  <% end %>
  <hr>
</div>

<script>
  $('#star-rate<%= review.id%>').raty({
    size      : 36,
    starOff   : "/assets/star-off.png",
    starOn    : "/assets/star-on.png",
    starHalf  : "/assets/star-half.png",
    half: true,
    readOnly: true
  });
</script>