<div id="comment-<%= comment.id %>">
  <div class="comment_box_left">
    <%= attachment_image_tag comment.customer, :image, format: "jpeg", size:'60x60', fallback: "no-image.png" %>
  </div>
  <div class="comment_box_right">
    FROM　<%= comment.customer.username %><br>
    <%= comment.body %><br>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
  </div>
  <% if comment.customer == current_customer %>
  <div>
    <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, remote: true, class: "btn btn-danger" %>
    <%= link_to "編集", edit_post_comment_path(comment.post, comment), class: "btn btn-success" %>
  </div>
  <% end %>
</div>
