<%= form_with model: @customer, url: update_information_path, local: true do |f| %>
  <div class="col-xs-3">
    <%= f.label :image, "画像" %>
    <%= attachment_image_tag @customer, :image, format: "jpeg", size:'200x200', id: "img_prev", fallback: "no-image.png", class: "customer_image" %>
    <span class="btn btn-file btn-info"><%= f.attachment_field :image %>画像選択</span>
		<p>選択するとプレビューされます。<br>画像未選択のままだと、<br>「画像準備中」になります。</p>
  </div>
  <div class="col-xs-7">
    <table class="table">
      <tr>
        <th>ユーザネーム</th>
        <td><%= f.text_field :username, :placeholder =>"#{@customer.username}" %></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td><%= f.text_field :first_name, :placeholder =>"#{@customer.first_name}" %></td>
        <td><%= f.text_field :last_name, :placeholder =>"#{@customer.last_name}" %></td>
      </tr>
      <tr>
        <th>氏名(カナ)</th>
        <td><%= f.text_field :first_name_kana, :placeholder =>"#{@customer.first_name_kana}" %></td>
        <td><%= f.text_field :last_name_kana, :placeholder =>"#{@customer.last_name_kana}" %></td>
      </tr>
      <tr>
        <th>メールアドレス </th>
        <td><%= f.email_field :email, :placeholder =>"#{@customer.email}" %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= f.text_field :telephone_number, :placeholder =>"#{@customer.telephone_number}" %></td>
      </tr>
      <tr>
        <th></th>
        <td colspan="2">
          <%= f.submit "編集内容を保存する", class: "btn btn-primary" %>
        </td>
      </tr>
      <tr>
        <td>
          <td><%= link_to "退会する", confirm_unsubscribe_path, class: "btn btn-danger" %></td>
        </td>
      </tr>
    </table>
  </div>
<% end %>