<% if flash[:notice] %>
  <p class="text-active"><%= flash[:notice] %></p>
<% end %>
<h3><%= @customer.username %>さんのページ
  <% if @customer == current_customer %>
    <%= link_to "編集する", edit_mypage_path(@customer), class: "btn btn-success ml2" %>
    <%= link_to "パスワード変更", edit_customer_password_path, class: "btn btn-success ml2" %>
  <% end %>
</h3>
<div class="col-xs-5">
  <div class="profile_box">
    <div class="profile_box_left">
      <%= attachment_image_tag @customer, :image, format: "jpeg", class: "img-circle pull-left profile-thumb", fallback: "no-image.png", size:'200x200', class: "customer_image" %>
    </div>
    <div class="profile_box_right">
      <%= render 'customers/relationships/follow_count', customer: @customer %>
      <% if customer_signed_in? %>
        <%= render 'customers/relationships/follow_form', customer: @customer %>
        <% unless @customer.id == current_customer.id %>
          <% if @room_existance == true %>
            <%= link_to room_path(@room_id) do %>
              <button id="dm_submit">
                <i class="fas fa-envelope"></i>
              </button>
            <% end %>
          <% else %>
            <%= form_for @room, url: rooms_path do |f| %>
              <%= fields_for @entry do |entry| %>
                <%= entry.hidden_field :customer_id, :value=> @customer.id %>
              <% end %>
              <button type="submit" id="dm_submit">
                <i class="fas fa-envelope"></i>
              </button>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>ユーザネーム</th>
      <td><%= @customer.username %></td>
    </tr>
    <tr>
      <th>氏名</th>
      <td><%= @customer.first_name %>　<%= @customer.last_name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
  </table>
</div>
<div class="col-xs-5">
  <div id="post_box" class="post_box">
    <%= render @posts %>
  </div>
</div>