<% if flash[:notice] %>
  <p class="text-active"><%= flash[:notice] %></p>
<% end %>
<h3><%= @customer.username %>さんのページ</h3>
<div class="col-xs-5">
  <div class="profile_box">
    <div class="profile_box_left">
      <%= attachment_image_tag @customer, :image, format: "jpeg", alt: @customer.image_id ? "ユーザーアイコン" : "画像準備中", class: "img-circle pull-left profile-thumb customer_image", fallback: "no-image.png", size:'200x200' %>
    </div>
    <div class="profile_box_right">
      <%= render 'customers/relationships/follow_count', customer: @customer %>
      <% if @customer == current_customer %>
        <%= link_to "編集する", edit_mypage_path(@customer), class: "btn btn-success ml2" %>
      <% end %>
      <% if customer_signed_in? %>
        <%= render 'customers/relationships/follow_form', customer: @customer %>
        <% unless @customer.id == current_customer.id %>
          <% if @room_existance == true %>
            <%= link_to room_path(@room_id) do %>
              <button id="dm_submit">
                <i class="fas fa-envelope fa-2x"></i>
                <span>DM</span>
              </button>
            <% end %>
          <% else %>
            <%= form_for @room, url: rooms_path do |f| %>
              <%= fields_for @entry do |entry| %>
                <%= entry.hidden_field :customer_id, :value=> @customer.id %>
              <% end %>
              <button type="submit" id="dm_submit">
                <i class="fas fa-envelope fa-2x"></i>
              </button>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>ユーザネーム</th>
      <td><%= @customer.username %></td>
    </tr>
    <tr>
      <th>氏名</th>
      <td><%= @customer.first_name %>　<%= @customer.last_name %></td>
    </tr>
    <% if @customer == current_customer %>
      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    <% end %>
    <tr>
      <th>フォロー数</th>
      <td><%= @customer.followings.count %> 人</td>
    </tr>
    <tr>
      <th>フォロワー数</th>
      <td><%= @customer.followers.count %> 人</td>
    </tr>
    <tr>
      <th>つぶやき数</th>
      <td><%= @customer.posts.count %></td>
    </tr>
  </table>
</div>
<div class="col-xs-5">
  <div id="post_box" class="post_box">
    <% if @customer.posts.present? %>
      <%= render @posts %>
    <% else %>
      <h4>このユーザーの投稿はまだありません</h4>
    <% end %>
  </div>
</div>