<div id="post-<%= post.id %>" class="post-show">
  <div class="post_box_left">
    <%= attachment_image_tag post.customer, :image, format: "jpeg", class: "img-circle profile-thumb img", size:'80x80', fallback: "no-image.png" %>
    <p class="post_box_right">
      <span class="post_customer">
        <%= post.customer.username %><br>
      </span>
      <span class="post_body">
        <%= post.body %><br>
      </span>
      <% if post.reviews.blank? %>
        <% average_review_rate = 0 %>
      <% else %>
        <% average_review_rate = post.reviews.average(:rate).round(2) %>
      <% end %>
      <span id="average-review-rate<%= post.id %>" data-score="<%= average_review_rate %>"></span>
      <span class="post_reference">
        <%= post.reference %><br>
      </span>
      <span id="tag_box" class="tag_box">
        <%= render post.tags %>
      </span>
      <span><%= post.created_at.strftime("%Y/%m/%d %H:%M") %><br></span>
      <span>
        <i class="fa fa-comment" aria-hidden="true" style="color: blue;"></i> <%= post.comments.count %> 件
        <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i> <%= post.favorites.count %> 件
      </span>
    </p>
  </div>
</div>


<script>
$(function () {
  $('#average-review-rate<%= post.id %>').raty({
    size      : 36,
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true,
    readOnly: true,
    score: function() {
      return $(this).attr('data-score')
    }
  });
});
</script>