<h3><%= @customer.username %>さんのページ</h3>
<div class="col-xs-5">
  <div class="profile_box">
    <div class="profile_box_left">
      <%= attachment_image_tag @customer, :image, format: "jpeg", class: "img-circle pull-left profile-thumb img customer_image", fallback: "no-image.png", size:'200x200' %>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>ユーザネーム</th>
      <td><%= @customer.username %></td>
    </tr>
    <tr>
      <th>氏名</th>
      <td><%= @customer.first_name %>　<%= @customer.last_name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
    <tr>
      <th>フォロー数</th>
      <td><%= @customer.followings.count %> 人</td>
    </tr>
    <tr>
      <th>フォロワー数</th>
      <td><%= @customer.followers.count %> 人</td>
    </tr>
    <tr>
      <th>つぶやき数</th>
      <td><%= @customer.posts.count %></td>
    </tr>
  </table>
</div>
<div class="col-xs-5">
  <div id="post_box" class="post_box">
    <%= render partial: "admins/customers/post", collection: @posts %>
  </div>
</div>