<div id="post-<%= post.id %>" class="post-show">
  <%= link_to post_path(post), {id: "post-link"} do %>
    <div class="post_box_left">
      <%= link_to mypage_path(post.customer.id), {class: "inlink"} do %>
        <%= attachment_image_tag post.customer, :image, format: "jpeg", class: "img-circle profile-thumb", size:'80x80', fallback: "no-image.png" %>
      <% end %>
      <p class="post_box_right">
        <span class="post_customer">
          <%= post.customer.username %><br>
        </span>
        <span class="post_body">
          <span id="js-post-label-<%= post.id %>">
            <%= post.body %><br>
          </span>
          <span id="js-post-error-<%= post.id %>" class="text-danger"></span>
          <textarea style="display: none;" id="js-textarea-post-<%= post.id %>" class="form-control post-error inlink">
            <%= post.body %>
          </textarea>
          <span id="js-post-button-<%= post.id %>" style="display: none;">
            <button data-cancel-id=<%= post.id %> type="button" class="btn btn-warning post-cancel-button inlink">キャンセル</button>
            <button data-update-id=<%= post.id%> type="button" class="btn btn-success post-update-button inlink">更新</button>
          </span>
        </span>
        <span class="post_reference">
          <%= post.reference %><br>
        </span>
        <% if post.reviews.blank? %>
          <% average_review_rate = 0 %>
        <% else %>
          <% average_review_rate = post.reviews.average(:rate).round(2) %>
        <% end %>
        <span id="average-review-rate<%= post.id %>" data-score="<%= average_review_rate %>">
          <%= average_review_rate %>
        </span><br>
        <span id="tag_box" class="tag_box">
          <%= render post.tags %>
        </span>
        <%= post.created_at.strftime("%Y/%m/%d %H:%M") %><br>
        <span>
          <i class="fa fa-comment" aria-hidden="true" style="color: blue;"></i> <%= post.comments.count %> 件
        </span>
        <span id="favorites_buttons_<%= post.id %>">
          <%= render partial: 'customers/favorites/favorite', locals: { post: post} %>
        </span>
      </p>
      <% if post.customer == current_customer %>
        <div>
          <span data-post-id=<%= post.id %> class="js-edit-post-button inlink">
            <i class="fas fa-edit text-primary fa-lg"></i>
          </span>
          <%= link_to post_path(post), method: :delete, class: "inlink pull-right trash-box" do %>
            <i class="fas fa-trash-alt fa-lg"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<script>
$(function () {
  $('#average-review-rate<%= post.id %>').raty({
    size      : 36,
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true,
    readOnly: true
  });
  // // ①クリックイベント
  // $(document).on("click", ".js-edit-post-button", function () {
  //   // ②一意のpostidを代入
  //   const postId = $(this).data('post-id');
  //   // ③一意のラベルを代入
  //   const postLabelArea = $('#js-post-label-' + postId);
  //   // ④一意のコメントエリアを代入
  //   const postTextArea = $('#js-textarea-post-' + postId);
  //   // ⑤一意のボタンエリアを代入
  //   const postButton = $('#js-post-button-' + postId);
  //   // ③を非表示
  //   postLabelArea.hide();
  //   // ④を表示
  //   postTextArea.show();
  //   // ⑤を表示
  //   postButton.show();
  // });
  // $(document).on("click", ".post-cancel-button", function () {
  //   const postId = $(this).data('cancel-id');
  //   const postLabelArea = $('#js-post-label-' + postId);
  //   const postTextArea = $('#js-textarea-post-' + postId);
  //   const postButton = $('#js-post-button-' + postId);
  //   const postError = $('#js-post-error-' + postId);
  //   postLabelArea.show();
  //   postTextArea.hide();
  //   postButton.hide();
  //   postError.hide();
  // });
  // $(document).on("click", ".post-update-button", function () {
  //   const postId = $(this).data('update-id');
  //   const textField = $('#js-textarea-post-' + postId);
  //   // ②textFieldの内容を取得
  //   const body = textField.val();
  //   console.log('テスト');
  //   $.ajax({
  //     url: '/posts/' + postId,
  //     type: 'PATCH',
  //     data: {
  //       post: {
  //         body: body
  //       }
  //     }
  //   })
  //   ①ajax通信が成功した時の処理
  //   .done(function (data) {
  //     const postLabelArea = $('#js-post-label-' + postId);
  //     const postTextArea = $('#js-textarea-post-' + postId);
  //     const postButton = $('#js-post-button-' + postId);
  //     const postError = $('#js-post-error-' + postId);
  //     postLabelArea.show();
  //     // ③データベースにupdateされたbodyのvalueが欲しい
  //     postLabelArea.text(data.body);
  //     postTextArea.hide();
  //     postButton.hide();
  //     postError.hide();
  //   })
  //   .fail(function () {
  //     // ①コメントエラー用の空タグ
  //     const postError = $('#js-post-error-' + postId);
  //     // ②空タグにメッセージを書き換える
  //     postError.text('コメントを入力してください');
  //   })
  // });
});
</script>