<div class="col-xs-3">
  <% if flash[:notice] %>
    <p class="text-active"><%= flash[:notice] %></p>
    <hr>
  <% end %>
  <div id="profile_area">
    <%= render 'customers/customers/profile' %>
  </div>
  <div class="teacher_index">
    <h4>講師一覧</h4>
    <%= render partial: "customers/customers/teacher", collection: @teachers %>
  </div>
  <%= link_to "関係者はこちら", new_admin_session_path %>
</div>
<div class="col-xs-4">
  <div id="post_box" class="post_box">
    <%= render @posts %>
    <%= paginate @posts %>
  </div>
</div>
<div class="col-xs-3">
  <div class="post_form">
    <% if customer_signed_in? %>
      <%= render 'customers/posts/post_form', post: @post %>
      <div class="post-form-bottom"></div>
    <% end %>
  </div>
  <div class="ranking-box">
    <h4>いいね数ランキング</h4>
    <table class="table table-noborder table-sm">
      <%= render partial: "customers/posts/favorite_ranking", collection: @favorite_rankings %>
    </table>
  </div>
  <div class="ranking-box">
    <h4>コメント数ランキング</h4>
    <table class="table table-noborder table-sm">
      <%= render partial: "customers/posts/comment_ranking", collection: @comment_rankings %>
    </table>
  </div>
</div>