<% if flash[:notice] %>
  <p class="text-active"><%= flash[:notice] %></p>
<% end %>
<div class="col-xs-3">
  <% if customer_signed_in? %>
    <h4>アカウント情報</h4>
    <%= attachment_image_tag @customer, :image, format: "jpeg", size:'150x150', id: "img_prev", fallback: "no-image.png", class: "customer_image" %>
    <table class="table">
      <tr>
        <th>ユーザネーム</th>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <td></td>
      </tr>
    </table>
  <% else %>
    <%= link_to "会員登録はこちら", new_customer_registration_path %><br>
    <%= link_to "すでに会員の方はこちら", new_customer_session_path %>
  <% end %>
  <div class="teacher_index">
    <h4>講師一覧</h4>
    <% @teachers.each do |teacher| %>
      <%= link_to mypage_path(teacher) do %>
        <%= attachment_image_tag teacher, :image, format: "jpeg", size:'60x60', fallback: "no-image.png" %>
        <%= teacher.username %>
      <% end %>
      <hr>
    <% end %>
  </div>
</div>
<div class="col-xs-5">
  <h3>投稿一覧</h3>
  <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
      <%= attachment_image_tag post.customer, :image, format: "jpeg", size:'80x80', fallback: "no-image.png" %>
      <%= post.body %><br>
      <%= post.reference %>
      <%= post.created_at.strftime('%Y/%m/%d') %>
      <%= post.comments.count %>件
    <% end %>
    <% if customer_signed_in? %>
      <% if post.favorited_by?(current_customer) %>
        <%= link_to post_favorites_path(post), method: :delete do %>
          <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
          <%= post.favorites.count %> いいね
        <% end %>
      <% else %>
        <%= link_to post_favorites_path(post), method: :post do %>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <%= post.favorites.count %> いいね
        <% end %>
      <% end %>
    <% else %>
      <%= post.favorites.count %> いいね
    <% end %>
    <% if post.customer == current_customer %>
      <div>
        <%= link_to "削除", post_path(post), method: :delete, class: "btn btn-danger" %>
      </div>
    <% end %>
    <% if customer_signed_in? %>
      <% if current_customer != post.customer %>
        <% if post.customer.followed_by?(current_customer) %>
          <p><%=link_to "フォロー済み", customer_relationships_path(post.customer.id), method: :delete %></p>
        <% else %>
          <p><%=link_to "フォローする", customer_relationships_path(post.customer.id), method: :post %></p>
        <% end %>
      <% end %>
    <% end %>
    <hr>
  <% end %>
</div>
<div class="col-xs-2">
  <% if customer_signed_in? %>
    <%= form_with model:@post_new, url:posts_path, local: true do |f| %>
      <%= f.text_area :body, :placeholder =>"気軽につぶやこう！！", size: "40x5" %>
      <%= f.text_field :reference, :placeholder =>"参考になった映画など", size: "40x30" %>
      <%= f.hidden_field :customer_id, :value => current_customer.id %>
      <%= f.submit "英語でつぶやく！！", class: "btn btn-primary" %>
    <% end %>
  <% end %>
  <h4>閲覧数ランキング</h4>
</div>