<h3>つぶやき内容</h3>
<%= attachment_image_tag @customer, :image, format: "jpeg", size:'80x80', fallback: "no-image.png" %>
<%= @post.body %><br>
<%= @post.reference %>
<%= @post.comments.count %>件
<%= @post.favorites.count %>件