<div class="col-xs-5">
  <h3>つぶやき内容</h3>
  <div class="post_show">
    <div class="post_show_left">
      <%= link_to mypage_path(@post.customer.id) do %>
        <%= attachment_image_tag @post.customer, :image, format: "jpeg", size:'80x80', fallback: "no-image.png" %>
      <% end %>
    </div>
    <div class="post_show_right">
      <div class="post_customer">
        <%= @post.customer.username %><br>
      </div>
      <div class="post_body">
        <%= @post.body %><br>
      </div>
      <div class="post_reference">
        <%= @post.reference %><br>
      </div>
      コメント <%= @post.comments.count %> 件<br>
      <div id="favorites_buttons_<%= @post.id %>">
        <%= render partial: 'customers/favorites/favorite', locals: { post: @post} %>
      </div>
    </div>
  </div>
  <%= render 'customers/comments/comment_form', post: @post, comment: @comment %>
  <h4>コメント一覧</h4>
  <div id="comment_box" class="comment_box">
    <%= render 'customers/comments/comments_area', post: @post %>
  </div>
</div>
<div class="col-xs-5">
  <h4>レビュー一覧</h4>
  <div id="review_box" class="review_box">
    <%= render 'customers/reviews/reviews_area', post: @post %>
  </div>
  <%= render 'customers/reviews/review_form', post: @post, review: @review %>
</div>