<p class="<%= direct_message.id %>" style= "color: black; margin-top: 0;">
  <%= attachment_image_tag direct_message.customer, :image, class: "img-circle profile-thumb img", fallback: "no-image.png", size: "40x40" %>
  <span style= "color: black;"><%= direct_message.customer.username %></span>
</p>
<p class="<%= direct_message.id %>">
  <span class="balloon1-top">
    <p class="dm_content">
      <%= direct_message.content %>
    </p><br>
    <p style="color: #C0C0C0;">
      <%= direct_message.created_at.strftime("%Y/%m/%d %H:%M") %>
    </p>
  </span>
</p><br>

 <!--メッセージの表示位置を指定する -->
<script>
  //メッセージのユーザーidを取ってくる
  var direct_message_customer_id = <%= direct_message.customer.id %>;
  //getElementById() メソッド：任意のHTMLタグで指定したIDにマッチするドキュメント要素を取得するメソッド
  //id="current_customer"の内容を取得
  var direct_message_current_customer_id = document.getElementById('current_customer');
  //dm_current_customer_idのdata-idを取得する
  // getAttributeは、指定した要素の属性を取得することができる
  var current_customer_id = direct_message_current_customer_id.getAttribute('data-id')
  //dm_customerがログインユーザーであれば右に表示する
  if(direct_message_customer_id == current_customer_id){
    $('p.' + <%= direct_message.id %>).css('text-align', 'right');
  }else{
    $('p.' + <%= direct_message.id %>).css('text-align', 'left');
  }
</script>