<% if direct_message.customer.id == current_customer.id %>
  <div class="chat is_current_customer">
<% else %>
  <div class="chat is_not_current_customer">
<% end %>
    <p class="<%= direct_message.id %>" style= "color: black; margin-top: 0;">
      <%= attachment_image_tag direct_message.customer, :image, class: "img-circle profile-thumb img", fallback: "no-image.png", size: "40x40" %>
      <span style= "color: black;"><%= direct_message.customer.username %></span>
    </p>
      <p class="<%= direct_message.id %>">
      <span class="balloon1-top">
        <h7 class="dm_content">
          <%= direct_message.content %>
        </h7><br>
        <h7 style="color: #C0C0C0;">
          <%= direct_message.created_at.strftime("%Y/%m/%d %H:%M") %>
        </h7>
      </span>
    </p><br>
</div>