<!DOCTYPE html>
<html>
  <head>
    <title>Englisation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/1524ec8d55.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <% if admin_signed_in? %>
      <header class="admin_header">
        <div class="header-content">
          <%= link_to 'Englisation', posts_path, class: "logo" %>
          <ul class="flex">
            <li><%= link_to '会員一覧', admins_customers_path %></li>
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
          </ul>
        </div>
      </header>
    <% elsif customer_signed_in? %>
      <header>
        <div class="header-content">
          <%= link_to 'Englisation', posts_path, class: "logo" %>
          <ul class="flex">
            <p>Welcome aboard <%= current_customer.username %>!</p>
            <li><%= link_to 'マイページ', mypage_path(current_customer) %></li>
            <li><%= link_to "DM", rooms_path %></li>
            <% if unchecked_notifications.any? %>
              <i class="fa fa-circle" style="color: gold;"></i>
            <% end %>
            <li><%= link_to "NOTICE", notifications_path %></li>
            <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
          </ul>
        </div>
      </header>
    <% else %>
      <header>
        <div class="header-content">
          <%= link_to 'Englisation', root_path, class: "logo" %>
          <ul class="flex">
            <li><%= link_to '新規登録', new_customer_registration_path %></li>
            <li><%= link_to 'ログイン', new_customer_session_path %></li>
            <li><%= link_to 'ゲストログイン', customers_guest_sign_in_path, id: "guest", method: :post %></li>
          </ul>
        </div>
      </header>
    <% end %>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-xs-1"></div>
            <%= yield %>
          <div class="col-xs-1"></div>
        </div>
      </div>
    </main>
    <footer>Copyright © Infratop Inc. All Rights Reserved.</footer>
  </body>
</html>
